<h1>place holder</h1>
<p>this page has not been created yet.</p>


<!-- // 2. In the placeholder.hbs, add a link to /:pageName/edit so the user can click on that and navigate to the edit page. You can do that in handlebars using the syntax: <a href="/{{pageName}}/edit">Create this page.</a>. The pageName property must exist on the object in the second parameter of the response.render() method call. Example: response.render('placeholder', { pageName: ... }) -->

<a href="/{{pageName}}/edit">Create this page.</a>
